@import 'constants/constants.scss';

.footer {
    height: 64px;
    background-color: $color_mint;
    display: flex;  
    justify-content: end;
    align-items: center;
    .footer__logo {        
        margin-right: 24px;
        font-size: 25px;
        font-weight: 700;
        font-family: monospace;
        color: #ffffff;
    }
}